.offer-promo-tile {
  margin: 0px auto 2px;
  text-align: center;
  padding: 10px 0;
  background-color: $tc-dark-blue;
  color:$bg-white;
  text-transform: uppercase;
  max-width: 1210px;
  h2, .h2 {
    font-family: $main-font-light;
    font-size: 18px;
    margin-right: 40px;
    display: inline-block;
    @media (max-width: 689px) {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
      padding: 0 20px;
    }
      a {
      color: $bg-white;
      font-size: 14px;
      &:hover {
        color: $tc-white;
      }
    }
  }
}
